<!-- 

Color palett:
#90CA77, #81C6DD, #E9B64D, #E48743, #9E3B33

-->

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TuskerRunning" data-view="RunningJobs" data-title="Tusker: Running" style="background-color:#90CA77;"></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CraneRunning" data-view="RunningJobs" data-title="Crane: Running" style="background-color:#81C6DD"></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SandhillsRunning" data-view="RunningJobs" data-title="Sandhills: Running" style="background-color:#E9B64D"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="BiggestUsers" data-view="List" data-title="Biggest Users" style="background-color:#9E3B33"></div>
    </li>

</ul>
</div>
