<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="TuskerRunning" data-view="RunningJobs" data-title="Tusker: Running" style="background-color:#90CA77;"></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="CraneRunning" data-view="RunningJobs" data-title="Crane: Running" style="background-color:#81C6DD"></div>
    </li>
     <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="SandhillsRunning" data-view="RunningJobs" data-title="Sandhills: Running" style="background-color:#E9B64D"></div>
    </li>
</ul>
</div>
