/* $background-color:  #12b0c5; */
$value-color:       #fff;

/* $title-color:       rgba(255, 255, 255, 0.7); */
$label-color:       rgba(255, 255, 255, 0.7);
/* $moreinfo-color:    rgba(255, 255, 255, 0.7); */


.widget-amazon-price {

.value {
  font-size: 65px;

}

  ol, ul {
    margin: 0 15px;
    /* text-align: left; */
    color: $label-color;
  }

  ul {
    list-style-position: inside;
  }

  li {
    margin-bottom: 0px;
    margin-top: 0px;
  }

  .list-nostyle {
    list-style: none;
  }

  .list-label {
    color: $label-color;
    font-size: 15px;
  }

  .list-value { 
    /* float: right; */
    margin-left: 12px;
    /* font-weight: 600; */
    font-size: 15px;
    color: $value-color;
  }


}
